@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --gradient: #003d4d;
    --background: 204 100% 98.3%;
    --foreground: 204 10% 0.6%;

    --muted: 204 10% 91.5%;
    --muted-foreground: 204 5% 41.5%;

    --popover: 204 10% 91.5%;
    --popover-foreground: 204 10% 0.75%;

    --card: 204 10% 91.5%;
    --card-foreground: 204 10% 0.75%;

    --border: 204 15% 89.6%;
    --input: 204 15% 89.6%;

    --primary: 204 100% 15%;
    --primary-foreground: 204 2% 91.5%;

    --secondary: 204 5% 95.75%;
    --secondary-foreground: 204 7% 11.5%;

    --accent: 204 5% 95.75%;
    --accent-foreground: 204 7% 11.5%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 204 100% 15%;

    --radius: 0.5rem;
  }
 
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
 
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
 
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
 
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
 
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}