@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #414d0b;
    --background: 75 98.75% 98.34%;
    --foreground: 75 7.5% 0.68%;

    --muted: 75 7.5% 91.7%;
    --muted-foreground: 75 3.75% 41.7%;

    --popover: 75 30% 91.7%;
    --popover-foreground: 75 7.5% 0.8500000000000001%;

    --card: 75 30% 91.7%;
    --card-foreground: 75 7.5% 0.8500000000000001%;

    --border: 75 12.5% 89.68%;
    --input: 75 12.5% 89.68%;

    --primary: 75 75% 17%;
    --primary-foreground: 75 1.5% 91.7%;

    --secondary: 75 3.75% 95.85%;
    --secondary-foreground: 75 5.5% 11.7%;

    --accent: 75 3.75% 95.85%;
    --accent-foreground: 75 5.5% 11.7%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 75 75% 17%;

    --radius: 0.5rem;
  }
 
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
 
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
 
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
 
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
 
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}